In [60]:
import json
import pandas as pd
import numpy as np
import re

### TASKS

Convert:
- Age to integer
- Market value strings to numeric
- Transfer fee strings to numeric
- Players nationalities to strings with 2 columns (nation 1, nation 2)

Add:
- Transfer type (loan, loan end, free, retire)

Store as JSON files per league

### DATA

In [80]:
def read_file(league, season, window):
    filename = '../data/{league}_{season}_{window}.json'.format(
        league=league,
        season=season,
        window=window
    )
    
    with open(filename, 'r', encoding='utf-8') as f:
        data = json.load(f)

    res = []
    for team in data:
        in_ = pd.DataFrame(team['in'])
        if len(in_) > 0:
            in_.loc[:, 'dir'] = 'in'

        left = pd.DataFrame(team['left'])
        if len(left) > 0:
            left.loc[:, 'dir'] = 'left'

        team_df = pd.concat([in_, left])
        if len(team_df) > 0:
            team_df.loc[:, 'team_name'] = team['team']['team_name']
            team_df.loc[:, 'team_country'] = team['team']['team_country']
            team_df.loc[:, 'team_id'] = team['team']['team_id']
            
        res.append(team_df)
    
    if len(res) > 0:
        res_df = pd.concat(res)
        res_df.loc[:, 'league'] = league
        res_df.loc[:, 'season'] = season
        res_df.loc[:, 'window'] = window

        return res_df
    return None

In [82]:
SCRAPE_LEAGUES = ['GB1', 'ES1', 'IT1', 'L1', 'FR1', 'PO1', 'NL1', 'RU1', 'BE1', 'A1', 'IT2', 'IT3A', 'IT3B', 'IT3C']
SCRAPE_SEASONS = [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021] 
SCRAPE_WINDOWS = ["s", "w"]

transfers_data = pd.DataFrame([])

global transfersEvaluated
transfersEvaluated = []
for league in SCRAPE_LEAGUES:
    for season in SCRAPE_SEASONS:
        for window in SCRAPE_WINDOWS:
            df = read_file(league, season, window)
            if isinstance(df, pd.DataFrame):
                transfers_data = pd.concat([
                    transfers_data,
                    df
                ])

In [83]:
transfers_data.dtypes

player_name             object
player_id               object
player_age              object
player_nat              object
player_pos              object
market_val              object
counter_team_country    object
counter_team_name       object
counter_team_id         object
transfer_fee            object
transfer_id             object
dir                     object
team_name               object
team_country            object
team_id                 object
league                  object
season                   int64
window                  object
dtype: object

In [84]:
#transfers_data.head(3)

### PREPROCESS

In [85]:
# Age to integer
transfers_data.loc[:, 'player_age'] = pd.to_numeric(transfers_data.loc[:, 'player_age'], errors='coerce')

# Season to integer
transfers_data.loc[:, 'season'] = pd.to_numeric(transfers_data.loc[:, 'season'], errors='coerce', downcast='integer')

In [86]:
def parse_transfer_fee(transfer_fee_raw):
    amnt_pat = r"(€\d+\.*\d*)"
    amnt = re.findall(amnt_pat, transfer_fee_raw)
    
    if not amnt:
        return np.nan
    
    mult = 1000 if 'Th.' in transfer_fee_raw else 1000000
    
    return int(amnt[0].replace("€", "")) * mult

In [87]:
transfers_data.loc[:, 'transfer_fee_amnt'] = transfers_data.loc[:, 'transfer_fee'].apply(parse_transfer_fee)

transfers_data.loc[:, 'is_free'] = transfers_data.loc[:, 'transfer_fee'].str.contains("free")

transfers_data.loc[
    transfers_data.is_free == True,
    'transfer_fee_amnt'
] = 0

transfers_data.loc[:, 'is_loan'] = transfers_data.loc[:, 'transfer_fee'].str.lower().str.contains("loan")
transfers_data.loc[:, 'is_loan_end'] = transfers_data.loc[:, 'transfer_fee'].str.contains("End of loan")

transfers_data.loc[:, 'is_retired'] = transfers_data.counter_team_id.str.contains("Retired")

transfers_data.loc[:, 'market_val_amnt'] = transfers_data.loc[:, 'market_val'].apply(parse_transfer_fee)

In [88]:
def parse_nation(x):
    
    return pd.Series({
        'player_nation': x[0] if x else np.nan,
        'player_nation2': x[1] if len(x) > 1 else np.nan
    })

transfers_data = pd.concat([
    transfers_data,
    transfers_data.player_nat.apply(parse_nation)
], axis=1)

In [89]:
transfers_data.head()

,player_name,player_id,player_age,player_nat,player_pos,market_val,counter_team_country,counter_team_name,counter_team_id,transfer_fee,...,season,window,transfer_fee_amnt,is_free,is_loan,is_loan_end,is_retired,market_val_amnt,player_nation,player_nation2
0,Laurent Koscielny,76277,24.0,"[France, Poland]",CB,€3.00m,France,FC Lorient,1158,€12.50m,...,2010,s,12500000.0,False,False,False,False,3000000.0,France,Poland
1,Sébastien Squillaci,5293,30.0,"[France, Italy]",CB,-,Spain,Sevilla FC,368,€6.50m,...,2010,s,6500000.0,False,False,False,False,NaN,France,Italy
2,Marouane Chamakh,19085,26.0,"[Morocco, France]",CF,-,France,FC Girondins Bordeaux,40,free transfer,...,2010,s,0.0,True,False,False,False,NaN,Morocco,France
3,Mark Randall,44799,21.0,[England],CM,€150Th.,England,Rotherham United,1194,"End of loanMay 10, 2011",...,2010,s,NaN,False,True,True,False,150000.0,England,NaN
4,Henri Lansbury,44794,20.0,[England],CM,€800Th.,England,Norwich City,1123,"End of loanMay 31, 2011",...,2010,s,NaN,False,True,True,False,800000.0,England,NaN

### STORE DATASET

In [90]:
dataset_cols = [
        'league',
        'season',
        'window',
        'team_id',
        'team_name',
        'team_country',
        'dir',
        'player_id',
        'player_name',
        'player_age',
        'player_nation',
        'player_nation2',
        'player_pos',
        'counter_team_id',
        'counter_team_name',
        'counter_team_country',
        'transfer_fee_amnt',
        'market_val_amnt',
        'is_free',
        'is_loan',
        'is_loan_end',
        'is_retired',
        'transfer_id',
]

transfers_dataset = transfers_data.loc[
    :,
    dataset_cols
]

In [91]:
transfers_dataset.to_csv('../dataset/transfers.csv', index=False)